.env
storage/*
!storage/sessions/
!storage/sessions/*.session
!storage/sessions/*.session-journal
!storage/browser_profile/
!storage/browser_profile/**
!storage/webdrivers/
!storage/webdrivers/**
*.log
__pycache__/
.venv/
