NAW_LTA_HOST=127.0.0.1
NAW_LTA_PORT=8010
NAW_LTA_DATABASE_URL=sqlite:///./data/naw_lta.sqlite
NAW_LTA_CELERY_BROKER=sqla+sqlite:///./data/celery_broker.sqlite
NAW_LTA_CELERY_BACKEND=db+sqlite:///./data/celery_results.sqlite
DATABENTO_API_KEY=

