MT5_PATH=C:\Program Files\JustMarkets MetaTrader 5\terminal64.exe
ORB2_SYMBOLS=XAUUSD,XAGUSD,US100,US30,ETHUSD,BTCUSD
ORB2_TIMEZONE=America/New_York
ORB2_RANGE_START=09:30
ORB2_RANGE_MINUTES=15
ORB2_LAST_ENTRY=12:00
ORB2_FLAT_TIME=16:00
ORB2_BACKTEST_DAYS=183
ORB2_START_BALANCE=300
ORB2_RISK_PERCENT=1
ORB2_MAX_TRADES_PER_SYMBOL_DAY=1
ORB2_MAX_DAILY_LOSSES=2
ORB2_SLIPPAGE_POINTS=5
ORB2_CACHE_DATA=true

# Live sending is disabled unless both switches are true.
ORB2_LIVE_TRADING=false
ORB2_PLACE_TRADES=false
ORB2_POLL_SECONDS=10
ORB2_MAGIC=930945
ORB2_COMMENT=ORB2 PLAYBOOK
ORB2_FIXED_LOT=0
ORB2_DEVIATION_POINTS=30

