LIVE_TRADING=false

START_BALANCE=1000

MAX_LOT_RISK_PCT=3.0
MAX_SPREAD_RISK_PERCENT=15
MAX_SPREAD_POINTS=0

MAX_RISK_PER_TRADE_PERCENT=1
MAX_DAILY_LOSS_PERCENT=3
MAX_TOTAL_DRAWDOWN_PERCENT=8
MAX_TRADES_PER_DAY=3

AUTO_MAX_CONSECUTIVE_LOSSES=2
AUTO_SYMBOL_MAX_LOSSES_PER_DAY=1
AUTO_SYMBOL_MAX_DAILY_LOSS_R=1.0
AUTO_SYMBOL_LOSS_LOCKOUT_REST_OF_SESSION=true
AUTO_STRICT_SESSION_START=10:00
AUTO_STRICT_SESSION_END=13:00
AUTO_STRICT_SESSION_MIN_SCORE=95
AUTO_STRICT_SESSION_PREPLACE_MIN_SCORE=90
AUTO_STRICT_SESSION_REQUIRE_INTERNAL_BREAK=true
AUTO_FOREX_REQUIRE_HTF_AGREEMENT=true

MIN_SETUP_SCORE=90
MIN_RISK_REWARD=5.0
BACKTEST_SIGNAL_STRIDE=3

AUTO_SCAN_INTERVAL_SECONDS=60
AUTO_SCAN_TIMEFRAMES=M5,M15,M30,H1,H4,D1,W1
AUTO_LOG_DETAIL_LIMIT=8
AUTO_SIGNAL_COOLDOWN_MINUTES=120
AUTO_SYMBOL_ACTIVITY_COOLDOWN_MINUTES=60
AUTO_ONE_POSITION_PER_SYMBOL=true
AUTO_LOCK_STALE_SECONDS=180
AUTO_PLACE_TRADES=false
AUTO_PREPLACE_ORDERS=false
AUTO_PREPLACE_MIN_SCORE=85
AUTO_PREPLACE_EXPIRY_MINUTES=240
AUTO_ONE_PENDING_PER_SYMBOL=true
AUTO_PROTECT_OPEN_TRADES=true
AUTO_PROTECTION_FINAL_RR=5.0

CHALLENGE20_START_BALANCE=20
CHALLENGE20_RISK_PERCENT=23
CHALLENGE20_TARGET_PERCENT=30
CHALLENGE20_LEVELS=30
CHALLENGE20_SYMBOLS=XAUUSD
CHALLENGE20_TIMEFRAMES=M5,M15
CHALLENGE20_SCAN_INTERVAL_SECONDS=60
CHALLENGE20_MIN_SETUP_SCORE=90
CHALLENGE20_ONE_TRADE_PER_DAY=true
CHALLENGE20_LIVE_TRADING=false
CHALLENGE20_PLACE_TRADES=false
CHALLENGE20_MAX_ACCOUNT_RISK_PERCENT=23
CHALLENGE20_MAX_SPREAD_RISK_PERCENT=15
CHALLENGE20_MAX_SPREAD_POINTS=0
CHALLENGE20_ALLOW_PENDING=false
