LIVE_TRADING=false

START_BALANCE=1000

MAX_LOT_RISK_PCT=3.0
MAX_SPREAD_RISK_PERCENT=15
MAX_SPREAD_POINTS=0

MAX_RISK_PER_TRADE_PERCENT=1
MAX_DAILY_LOSS_PERCENT=3
MAX_TOTAL_DRAWDOWN_PERCENT=8
MAX_TRADES_PER_DAY=3

MIN_SETUP_SCORE=90
MIN_RISK_REWARD=5.0
BACKTEST_SIGNAL_STRIDE=3

AUTO_SCAN_INTERVAL_SECONDS=60
AUTO_SCAN_TIMEFRAMES=M5,M15,M30,H1,H4,D1,W1
AUTO_LOG_DETAIL_LIMIT=8
AUTO_SIGNAL_COOLDOWN_MINUTES=120
AUTO_SYMBOL_RESULT_COOLDOWN_MINUTES=60
AUTO_ONE_POSITION_PER_SYMBOL=true
AUTO_LOCK_STALE_SECONDS=180
AUTO_PLACE_TRADES=false
AUTO_PROTECT_OPEN_TRADES=true
AUTO_PROTECTION_FINAL_RR=5.0
